/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #912B32;
	padding: 3px 5px;
	margin: 2px;
	background:#5A1B20;
	color:#F3ABB0;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #F3ABB0;
}

.wp-pagenavi span.current {
	font-weight: bold;
}
