body {
background: url("../img/background.jpg") no-repeat scroll center bottom transparent;
}

.geral {
	height: 100%;
	overflow: hidden;
	position: relative;
}

#topo {
	height: 20%;
	width:28%;
	
	display: block;
}

.img_logo{
height: 90%;
max-width: 100%;
max-height: none;
margin: 0;
left: 0;
z-index: -1;
}

.img_footer{
height: auto;
max-width: 100%;
max-height: none;
margin: 0;
left: 0;
z-index: -1;
}

.content{
	height:60%;
}


#footer {
width:28%;
height:85%;
display:inline;
}
..mblDomButtonArrow{
	display: none;
}

.Icones {
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	list-style: none outside none;
	margin: 10px 1%;
	position: relative;
	text-align: left;
	text-decoration: none;
	text-shadow: 0 1px 0 #111111;
	width: 13%;

}