html, body {height:100%}

#footer{
background: url("images_s/footer_bg.jpg") no-repeat scroll center center transparent;
    clear: both;
    height: 150px;
    margin: auto;
    width: 100%;
}

#esquerda{
	display:inline; /* Evita o bug da margem duplicada */
    float:left; /* Flutuando à esquerda */
    width:30%;
}

#content{
float:right; /* Flutuando à direita */
width:70%;
}

.img_logo{
height: auto;
max-width: 100%;
max-height: none;
margin: 0;
left: 0;
z-index: -1;
}





#minhaUL{
max-width: 1000px;
margin: 0 auto;
border-radius: inherit;
}
.minhaLII{
width: 23%;
height: 230px;
margin: 10px 1%;
float: left;
box-shadow: 0 0 9px #111111;
border-width: 0;
background-image: none;
    border-color: #222222;
    transition: all 500ms ease 0s;
     border-radius: inherit;
     overflow: visible;
    position: relative;
    text-align: left;
    display: block;
    list-style: none outside none;
    padding: 0;
    cursor: pointer;
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 0 #111111;
}
.imagemMinha{
border-radius: inherit;
height: auto;
max-width: 100%;
max-height: none;
margin: 0;
left: 0;
z-index: -1;
}
.meuH2{
bottom: 20%;
    padding: 10px;
    background: none repeat scroll 0 0 padding-box rgba(0, 0, 0, 0.8);
    margin: 0;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    white-space: normal;
      display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0.6em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FFFFFF;
    text-align: left;
	}
.meuP{
	border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    min-height: 20%;
    padding: 0 10px;
    background: none repeat scroll 0 0 padding-box rgba(0, 0, 0, 0.8);
    bottom: 0;
    line-height: 1.5;
    margin: 0;
    min-height: 50%;
    padding: 0 20px;
    left: 0;
    overflow: visible;
    position: absolute;
    right: 0;
    white-space: normal;
    color: #C0C0C0;
     display: block;
    font-size: 12px;
    font-weight: normal;
    margin: -0.5em 0 0.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
	
	
}
.div1{
	
	 -moz-border-bottom-colors: inherit;
    -moz-border-left-colors: inherit;
    -moz-border-right-colors: inherit;
    -moz-border-top-colors: inherit;
    border-color: inherit;
    border-image: inherit;
    border-style: inherit;
    border-width: 1px;
    margin: -1px;
    border-radius: inherit;
    display: block;
    width: 100%;
    display: block;
    padding: 0;
    position: relative;
}

.div2{
	
	border-radius: inherit;
	   display: block;
    width: 100%;
	
}